@model List<LibrarySystem.Models.Book>

<!-- your view code here -->
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
@{
}

@{

    var isLoggedIn = Context.Session.GetString("IsLoggedIn");
    var isRegistered = Context.Session.GetString("IsRegistered");
    Layout = (isLoggedIn == "true" || isRegistered == "true") ? "~/Views/Shared/AfterLogin.cshtml" : "~/Views/Shared/BeforeLogin.cshtml";
}


<

<html lang="en">
<head>

    
</head>

<body>


    <!-- header -->

    <!-- /header -->
    <!-- page title -->
    <section class="page-title-section overlay" data-background="../images/home.png">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb mb-2">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="list-inline-item text-white h3 font-secondary nasted">Our Books</li>
                    </ul>
                    <p class="text-lighten mb-0">A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->
   

    <!-- courses -->
    <section class="section">
        <div class="container">
            <!-- course list -->
            <div class="row justify-content-center">
                <!-- course item -->
                @foreach (var book in Model)
                {
                    <div class="col-lg-4 col-sm-6 mb-5">
                        <div class="card p-0 border-primary rounded-0 hover-shadow book-card" style="width:100%">
                            <img class="card-img-top rounded-0" src="@book.BookImage" />
                            <div class="card-body">
                                <ul class="list-inline mb-2">
                                </ul>
                                <a href="course-single.html">
                                    <h4 class="card-title">@book.Title</h4>
                                </a>
                                <a>
                                    <h5 class="card-title">Total price: @book.Price</h5>
                                </a>
                                <a>
                                    <h5 class="card-title">Pages: @book.NumberOfPages</h5>
                                </a>
                                <p class="card-text mb-4">
                                    @book.Descripttion
                                </p>
                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.ISBN" class="btn btn-primary float-right store-btn"><i class="fa-solid fa-cart-plus"></i>Reserve Now</a>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </section>
    <!-- /courses -->
    <!-- footer -->


</body>
</html>